.btn {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--black-color);
    padding: .75rem 1.5rem;
    border-radius: 3rem;
    border: none;
    outline: none;
    font-weight: 600;
    -webkit-transition: .4s;
    transition: .4s;
    &:hover {
        background-color: var(--black-color);
        color: var(--first-color);
        cursor: pointer;
    }
}