*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
}
:root {
  --font-size-base: 16px;
  --color-primary:#ff5331;
  --color-secondary: #323232;
  --color-tertiary: #009b00;
  --color-light: #ffffff;
  --color-dark: #000000;
  --font-family-base: 'Poppins', sans-serif;

}